<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/aman-kumar-official"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/aman-kumar-singh-687408280?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/stories/aman_kumar_official_/"><i class="fab fa-instagram"></i></a>
            <a href="https://leetcode.com/u/aman_kumar_official_/"><i class="fas fa-code"></i></a>

        </div>
<<<<<<< HEAD
        <div class="f-info-brand">Made with 💖 from <a href="https://www.instagram.com/aman_kumar_official_/">Aman</a> </div>
=======
        <div class="f-info-brand">Made with 💖 from&nbsp;<a href="https://www.instagram.com/aman_kumar_official_/" class="owner"> Aman</a></div>
>>>>>>> 01e523a (Updated footer)
        <div class="f-info-brand">&copy Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
